<form>
    <p>{{content}}</p>
    <div class="form-group">
        <label for="lineThickness">Line thickness:</label>
        <input type="number" name="lineThickness" id="lineThickness" value="{{lineThickness}}">
    </div>
    <button type="submit"><i class="fas fa-save"></i>&nbsp;Apply changes</button>
</form>
